<h2>Показ пользователей</h2>


<table class="table table-striped">

	<thead>
		<tr>
			<th>Имя</th>
			<th>Телефон</th>
			<th>Время</th>
			<th>Парикмахер</th>
			<th>Цвет</th>
		</tr>
	</thead>
	


	<tbody>

	<% @result.each do |row|  %>

		<tr>
			<td><%= row['imy'] %></td>
			<td><%= row['telefon'] %></td>
			<td><%= row['vremy'] %></td>
			<td><%= row['barb'] %></td>
			<td style="background-color: <%= row['color'] %>"><%= row['color'] %></td>
		</tr>
	<% end %>

	</tbody>



</table>